header{
    background: linear-gradient(180deg, #FFF 27.3%, #D8E5FF 162.25%);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 38px; */
    max-width: 1170px;
    padding: 24px;
    margin: 0 auto;
}
.nav-title{
    font-family: League Spartan;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 25.701px;
background: linear-gradient(93deg, #5A95FF 16.53%, #FF5AEF 98.47%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.nav-list{
    display: flex;
    list-style: none;
    gap: 30px;
}
.banner{
    
    padding: 80px 0;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner img{
    max-height: 464.207px;
    padding-right: 50px;
}
.banner-title{
    max-width:552px;
    background: linear-gradient(90deg, #5B95FF 8.33%, #6298FC 8.34%, #F560EE 72.28%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
}
.banner-title-2{
    max-width:552px;
    color: #00215C;
font-family: Poppins;
font-size: 64px;
font-style: normal;
font-weight: 600;
line-height: 80px;
}
.banner-sub-title{
    color: #060318;

font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.export-section{
    background: #FAFBFF;
}
.exports-section{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0;
}
.export{
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.payment-section img{
max-height: 342.483px;
flex-shrink: 0;
}
.payment-section{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 80px 0;
}
.payment-title{
    color: #00215C;
max-width: 554px;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 64px;
}
.payment-sub-title{
    color: #4B6490;
max-width: 554px;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 24px;
margin-bottom: 32px;
}
.easy-payment-section{
    background: linear-gradient(102deg, #CEE0FF 0%, #FFE1FD 100%);
    text-align: center;
    padding: 80px 0;
    
}
.easy-payment-title{
    color: #00215C;
text-align: center;
text-align: center;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 80px;
margin-bottom: 40px;
}
.easy-payment-sub-title{
    max-width: 808px;
    color: #5C5582;
margin: 0 auto;
text-align: center;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.cards{
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 72px;
}
.caard{
width: 370px;
padding: 32px;
gap: 10px;
border-radius: 24px;
background: #FFF;
}
.caard img{
    width: 72px;
    margin-bottom: 32px;
}
.card-sub-title{
    color: #707076;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
max-width: 248px;
margin: 0 auto;
}
.about-section img{
height: 378.462px;
flex-shrink: 0;
margin-right: 50px;
}
.about-section{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}

.about li{
    list-style: none;
    padding-bottom: 16px;
}

.about-title{
    color: #00215C;
margin-bottom: 24px;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 64px;
}
.about-sub-title{
    color: #4B6490;
width: 440px;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 32px;
}
.customer-section{
   
        background: linear-gradient(102deg, #CEE0FF 0%, #FFE1FD 100%);
        padding: 80px 0;
        
}
.card-img-2{
    /* margin-bottom: 50px; */
    position: relative;
    top: -60px;
}
.caard-2{
width: 570px;
margin-top: 50px;
padding: 0px 64px 48px 64px;
gap: 10px;
border-radius: 24px;
background: #FFF;
}
.card-sub-title-2{
    width: 442px;
}
.question-section{
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 80px;
    
}

.question-sub-title{
    color: #4B6490;
 
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.questions{
    margin-top: 16px;
    padding: 32px;
    border: 2px solid #0058F9;
    border-radius: 8px;
}
.accordion-header{
    background-color: white;
}
.question-sub-title-color{
    color: #0058F9;

font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.faq-sub-title{
    color: #00215C;

font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.payments{
    padding:  57px 57px 0 57px;
}
.img-1{
max-height: 516.844px;
flex-shrink: 0;
}

.pay{
    background: linear-gradient(180deg, #FBF2FF 0%, #EEF4FF 100%);
    margin-top: 80px;
}

footer{
    background: #00091A;
    padding: 80px 0;
    color: white;
}
.footer-section{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer-sub-title{
    color: #FFF;
width: 300px;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.web{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

/* -------------------------------------- */
/* media Query */
/* ----------------------------------- */
@media screen and (max-width: 677px) {
    .banner{
        flex-direction: column;
        gap: 30px;
        padding-top: 40px;
        padding: 0 20px;
    }
    .banner img{
        width: 100%;
        height: 100%;
        padding-right: 0;
    }
    .banner-title-2, .banner-title{
        font-size: 44px;
        line-height: 40px;
    }
    .nav{
        justify-content: space-around;
    }
    .nav-list{
        
        display: none;
        flex-direction: column;
        gap: 0;
    }
    .exports-section{
        flex-direction: column;
        gap: 20px;
    }
    .easy-payment-section{
        padding: 27px 20px;
    }
    .payment-section{
        flex-direction: column;
        padding: 0 20px;
        margin-bottom: 30px;
    }
    .payment-title{
        font-size: 36px;
        line-height: 100%;

    }
    .about-title{
        font-size: 36px;
        line-height: 100%;
    }
    .payment-title br{
        display: none;
    }
    .cards{
        flex-direction: column;
    }
    .caard{
        max-width: 100%;
        }
        .about-section{
            flex-direction: column-reverse;
            padding: 50px 20px;
        }
        .about-section br{
            display: none;
        }
        .about-sub-title{
            width: 100%;
        }
        .customer-section{
            padding: 40px 20px;
        }
        .caard-2{
            width: 100%;
        }
        .card-sub-title-2{
            width: 100%;
        }
        .easy-payment-title{
            font-size: 45px;
            
        }
        .question-section{
            padding: 0 20px;
        }
        .easy-payment-title{
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        margin-bottom: 20px;
        }
        .payments{
            gap: 40px;
        }
        .pay{
            padding: 40px 0;
        }
        .img-1{
            max-height: 50%;
            flex-shrink: 0;
            }
        .img-2{
            max-width: 50%;
            flex-shrink: 0;
            margin-bottom: 100px;
            }

            .footer-section{
                flex-direction: column;
                align-items: center;
            }
            .text{
                text-align: center;
            }
            .last{
                padding: 0 20px;
            }
}